/* Global styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

img {
  display: block;
  width: 100%;
  height: 150px;
}

h1,
h2,
h3 {
  font-weight: 400;
}

header {
  margin-bottom: 32px;
}

h2 {
  color: #008080;
}

h3 {
  color: #008080;
  font-size: 16px;
  margin: 14px;
}

p {
  font-size: 18px;
  color: green;
  padding: 16px 0;
}

a {
  text-decoration: none;
  color: #008080;
}

footer {
  background-color: #22313f;
  padding: 50px 16px;
  text-align: center;
}

footer p {
  color: white;
}

/* ID styles */

#navbar {
  background-color: #e0ebe8;
  padding: 16px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#welcome-section {
  background-color: #e0ebe8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

#projects {
  text-align: center;
  padding: 100px 0;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-tile {
  text-align: center;
  margin: 32px 64px;
  border: 2px solid lightblue;
  width: 300px;
}

.project-img {
  border-bottom: 2px solid lightblue;
}

.show-all {
  text-align: center;
  background-color: #e0ebe8;
  width: 180px;
  height: 60px;
  margin: 32px 150px;
  border: 2px solid green;
  border-radius: 5px;
}

.show-all:hover {
  background-color: lightblue;
}

#profile {
  padding: 100px 0;
  background-color: #c8f7c5;
  text-align: center;
}

.flex-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  margin: 20px;
}

.contact {
  background-color: #e0ebe8;
  border: 2px solid green;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  margin: 20px;
}

@media (min-width: 768px) {
  #navbar {
    justify-content: flex-end;
  }
  #navbar a {
    padding-right: 50px;
    padding-left: 50px;
  }
}
